html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
#newsletter,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
form,
input {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/*--
  Font Face
--*/
@font-face {
    font-family: 'sanchez';
    src: url('font/sanchez/sanchezslab-webfont.eot');
    src: url('font/sanchez/sanchezslab-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sanchez/sanchezslab-webfont.woff') format('woff'),
         url('font/sanchez/sanchezslab-webfont.ttf') format('truetype'),
         url('font/sanchez/sanchezslab-webfont.svg#sanchez_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*--
  Icon Fonts
--*/
@font-face {
  font-family: "Flat-UI-Icons";
  src: url("font/font-icon/Flat-UI-Icons-16.eot");
  src: url("font/font-icon/Flat-UI-Icons-16.eot?#iefix") format("embedded-opentype"), url("font/font-icon/Flat-UI-Icons-16.woff") format("woff"), url("font/font-icon/Flat-UI-Icons-16.ttf") format("truetype"), url("font/font-icon/Flat-UI-Icons-16.svg#Flat-UI-Icons-16") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "Flat-UI-Icons";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="fui-"]:before { */
.fui-volume:before, .fui-video:before, .fui-time:before, .fui-settings:before, .fui-plus:before, 
.fui-new:before, .fui-menu:before, .fui-man:before, .fui-mail6:before, .fui-lock:before, 
.fui-location:before, .fui-heart:before, .fui-eye:before, .fui-cross:before, .fui-cmd:before, 
.fui-checkround:before, .fui-checkmark:before, .fui-camera:before, .fui-calendar:before, 
.fui-bubble:before, .fui-bubble-16px:before {
  font-family: "Flat-UI-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-text-stroke: 0.2px;
  -webkit-font-smoothing: antialiased;  
  margin-right: 5px;
}
.fui-bubble-16px:before{
  font-size: 16px;
}
.fui-volume:before {
  content: "\e000"; }

.fui-video:before {
  content: "\e001"; }

.fui-time:before {
  content: "\e002"; }

.fui-settings:before {
  content: "\e003"; }

.fui-plus:before {
  content: "\e004"; }

.fui-new:before {
  content: "\e005"; }

.fui-menu:before {
  content: "\e006"; 
  
}

.fui-man:before {
  content: "\e007"; }

.fui-mail:before {
  content: "\e008"; }

.fui-lock:before {
  content: "\e009"; }

.fui-location:before {
  content: "\e00a"; }

.fui-heart:before {
  content: "\e00b"; }

.fui-eye:before {
  content: "\e00c"; }

.fui-cross:before {
  content: "\e00d"; }

.fui-cmd:before {
  content: "\e00e"; }

.fui-checkround:before {
  content: "\e00f"; }

.fui-checkmark:before {
  content: "\e010"; }

.fui-camera:before {
  content: "\e011"; }

.fui-calendar:before {
  content: "\e012"; }

.fui-bubble:before, .fui-bubble-16px:before {
  content: "\e013"; }

/*--
  Sprite
--*/

/*--
  Global
--*/
.rpl{
  text-indent: -9999px;
  float: left;
}
.left{
  float: left;
}
.right{
  float: right;
}
.mgn-top-10px{
  margin-top: 10px;
}
.mgn-top-20px{
  margin-top: 20px;
}
.mgn-top-17px{
  margin-top: 17px;
}
.mgn-left-20px{
  margin-left: 20px;
}
.mgn-esq-dir-10px{
  margin: 0 10px 0 10px;
}
.mgn-left-10px{
  margin-left: 10px;
}
.mgn-right-10px{
  margin-right: 10px;
}
.mgn-bottom-10px{
  margin-bottom: 10px;
}
.mgn-bottom-20px{
  margin-bottom: 20px;
}
.mgn-bottom-5px{
  margin-bottom: 5px;
}
.mgn-top-5px{
  margin-top: 5px;
}
.mgn-top-56px{
  margin-top: 56px;
}
.texto-vertical{
  width: 19px;
  height: 70px;
  background-color: #eee;
}
.titulo-28px{
  font-size: 28px;
  color: #26AC5F;
}
.titulo-32px{
  font-size: 32px;
  color: #26AC5F; 
}
.bloco-largura-940px{
  width: 940px;
}
.bloco-largura-540px{
  width: 540px;
}
.bloco-largura-453px{
  width: 453px;
}
.bloco-largura-223px{
  width: 223px;
}
.bloco-largura-1020px{
  width: 1020px;
}
.largura-1180px{
  width: 1180px;
}
.imagem-noticia{
  float: left;
  margin-top: 10px;
}
.desc-noticia{
  float: left;
  margin-top: 10px;
}
.desc-noticia p{
  font-size: 14px;
  color: #26AC5F;
}
/*------------*/
html,
body {
  height: 100%;
}
body{
  font: normal 16px "sanchez";
  /*-webkit-text-stroke: 0.2px;*/
}
#container {
  margin: 0 auto;
  position: relative;
  width: 1200px;
  min-height: 100%;
}
/*--
  Cabeçalho
--*/
#cabecalho{
  width: 1200px;
  height: 120px;
  padding: 0 10px;
}
.logo{
  width: 140px;
  height: 97px;
  margin-top: 4px;
  background: url(img/logo.png) 0 0 no-repeat;
}
.social, .social-rodape{
  width: 60px;
  margin-left: 20px;
}
.social h2, .social-rodape h2{
  margin-bottom: 5px;
  font-size: 10px;
  color: #19BA9A;
}
.social h2:hover, .social-rodape h2:hover{
  color: #007537;
}
.social li, .social-rodape li{
  float: left;
}
.social .face, .social .gplus, .social .twitter, .social .youtube,
.social-rodape .face, .social-rodape .gplus, .social-rodape .twitter, .social-rodape .youtube,
.compartilhar .face, .compartilhar .gplus, .compartilhar .twitter{
  width: 25px;
  height: 25px;
}
.social .face, .compartilhar .face{
  margin: 0 10px 5px 0;
  background: url(img/face.png) 0 0 no-repeat;
}
.social .face:hover, .compartilhar .face:hover{
  background: url(img/face-h.png) 0 0 no-repeat;
}
.social .gplus, .compartilhar .gplus{
  margin-bottom: 5px;
  background: url(img/gplus.png) 0 0 no-repeat;
}
.social .gplus:hover, .compartilhar .gplus:hover{
  background: url(img/gplus-h.png) 0 0 no-repeat;
}
.social .twitter, .compartilhar .twitter{
  margin-right: 10px;
  background: url(img/twitter.png) 0 0 no-repeat;
}
.social .twitter:hover, .compartilhar .twitter:hover{
  background: url(img/twitter-h.png) 0 0 no-repeat;
}
.social .youtube{
  background: url(img/youtube.png) 0 0 no-repeat;
}
.social .youtube:hover{
  background: url(img/youtube-h.png) 0 0 no-repeat;
}
.topo{
  position: relative;
  width: 940px;
  height: 100px;
}
.menu{
  width: 940px;
  height: 60px;
  padding-top: 17px;
  background-color: #27AD5F;
}
.menu li{
  float: left;
  margin-left: 20px;
}
.menu li a{
  font-size: 20px;
  color: #fff;
}
.menu li a:hover{
  color: #007437;
}
.data-atual{
  position: absolute;
  left: 0;
  bottom: 8px;
  font-size: 14px;
  color: #95A5A5;
}
.tools-social{
  position: absolute;
  bottom:0;
  right: 222px;
  height: 24px;
}
.tools-social .face{
  margin-right: 30px;
}
.busca{
  width: 220px;
  height: 40px;
  background-color: #27AD5F;
}
.busca input{
  float: left;
  width: 180px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: #007537;
  background-color: #2DCB71;
  outline: none;
}
.busca input::-webkit-input-placeholder { color:#fff; }
.busca input::-moz-placeholder { color:#fff; } /* firefox 19+ */
.busca input:-ms-input-placeholder { color:#fff; } /* ie */
input:-moz-placeholder { color:#fff; }

.busca button{
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: #27AD5F url(img/lupa.png) 0 0 no-repeat;
}
.busca button:hover{
  background-color: #2DCB71;
}
/*--
  Fim Cabeçalho
--*/

/*--
  Conteudo
--*/
#conteudo{
  width: 1200px;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 392px;
}
.categorias, .categorias-classificado{
  position: relative;
  width: 140px;
  height: 45px;
  background: url(img/icon-categ.png) 0 4px no-repeat;
}
.categorias h2, .categorias-classificado h2{
  float: right;
  margin-bottom: 2px;
  font-size: 15px;
  color: #27AD5F;
}
.categorias-classificado h2{
  color: #19B899;
  margin-top: 10px;
}
.categorias-classificado h2 span{
  font-size: 12px;
}
.expandir, .recolhe{
  float: right;
  display: block;
  width: 77px;
  height: 23px;
  font-size: 10px;
  color: #fff;
  padding-top: 4px;
  text-indent: 26px;
  background: #27AD5F url(img/mais.png) 0 0 no-repeat;
  cursor: pointer;
}
.expandir:hover, .recolhe:hover{
  background-color: #2DCB71;
}
.recolhe{
  margin-top: -4px;
  background: #27AD5F url(img/menos.png) 0 0 no-repeat;
}
.categorias .oculto,
.secao-categ .oculto,
.categorias-classificado .mostrar{
  display: none;
  position: absolute;
  top: 44px;
  z-index: 100;
  width: 140px;
  height: 370px;
  background-color: #fff;
}
 .categorias .oculto li, 
 .categorias-rodape .lista-categ li,
 .secao-categ .oculto li,
 .categorias-classificado .mostrar li{
  float: left;
  width: 140px;
  background-color: #2DCB71;
}
.categorias .oculto li a, .categorias-rodape .lista-categ li a,
.secao-categ .oculto li a, .categorias-classificado .mostrar li a{
  position: relative;
  float: left;
  width: 140px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  padding-top: 10px;
  text-indent: 30px;
}
.categorias .oculto li a:hover, 
.categorias-rodape .lista-categ li a:hover,
.secao-categ .oculto li a:hover,
.categorias-classificado .mostrar li a:hover{
  background-color: #27AD5F;
}
.categorias .oculto .barra, 
.categorias-rodape .lista-categ .barra,
.secao-categ .oculto .barra,
.categorias-classificado .mostrar .barra{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 40px;
  border-right: 1px solid #fff;
}
.destaques{
  width: 1024px;
}
.noticia-urgente{
  float: left;
  width: inherit;
  margin-bottom: 20px;
}
.noticia-urgente a{
  width: inherit;
  float: left;
  padding: 13px 20px;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 5px;
}
.noticia-urgente a:hover{
  text-decoration: underline;
}
.noticia-urgente p{
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
.destaques-atual{
  position: relative;
  float: left;
  width: 500px;
}
.destaques-atual .titulo{
  position: absolute;
  width: 320px;
  height: 48px;
  z-index: 9;
  font-size: 28px;
  color: #fff;
  background: url(img/sombra.png) 0 0 repeat;
  padding: 5px 10px;
}
.slideshow{
  position: relative;
  width: 500px;
  height: 345px;
  overflow: hidden;
}
.slideshow li{
  position: relative;
  float: left;
  overflow: hidden;
}
.slideshow .categ{
  position: absolute;
  font-size: 13px;
  color: #fff;
  right: 0;
  z-index: 10;
  padding: 5px 10px;
}
.slideshow .hora, .slideshow .local{
  font-size: 12px;
}
.slideshow .desc{
  float: left;
  width: 500px;
  font-size: 18px;
  line-height: 20px;
  margin-top: 5px;
}
.slideshow li:hover .desc{
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  text-decoration: underline
}
.miniatura{
  position: absolute;
  top: 232px;
  right: 0;
  z-index: 11;
}
.miniatura li{
  float: left;
  margin-right: 10px;
}
.miniatura li.activeSlide .molde, .miniatura li:hover .molde{
  position: absolute;
  z-index: 20;
  background: url(img/molde.png) 0 0 no-repeat;
  width: 70px;
  height: 39px;
}
.miniatura li:hover .molde{
  outline: 2px solid #007537;
}
.miniatura figure{
  position: relative;
  width: 70px;
  height: 39px;
  background: url(img/molde.png) 0 0 no-repeat;
}
.miniatura img{
  width: 70px;
  height: 39px;
}
.miniatura figure span{
  position: absolute;
  width: 70px;
  height: 4px;
}
/*estilo das noticias*/
.bloco-largura{
  overflow: hidden;
}
.bloco-largura-800px{
  width: 800px;
  overflow: hidden;
  /*background-color: yellow*/
}
.largura-240px{
  width: 240px;
}
.largura-220px{
  width: 220px;
}
.largura-380px{
  width: 380px;
}
.titulo-secao{
  font-size: 28px;
}
.noticia{
  position: relative;
}
.noticia .chamada{
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 2px 0 2px 4px;
}
.noticia .categoria{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
  background-color: #fff;
  padding: 2px 4px;
}
.noticia .hora, .noticia .local{
  font-size: 10px;
}
.noticia .desc-14px{
  font-size: 14px;
  line-height: 20px;
}
.noticia .desc-18px{
  font-size: 18px;
  line-height: 20px;
}
.noticia .desc:hover{
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  text-decoration: underline;
}
.mais-lidas{
  width: 380px;
  /*background-color: #eee;*/
}
.mais-lidas .topo{
  float: left;
  width: inherit;
  height: 40px;
  background: url(img/icon-categ.png) 0 0 no-repeat;
}
.mais-lidas .topo .titulo{
  color: #27AD5F;
  text-indent: 60px;
}
.tabs{
  margin-left: 60px;
  margin-top: -3px;
}
.tabs li {
  float: left;
}
.tabs a {
  padding:3px 10px;
  display:inline-block;
  background-color:#27AD5F;
  color:#fff;
  font-size: 11px;
}
.tabs a.active {
  background:#2DCB71;
}
/*colunistas*/
.colunistas{
  float: left;
  width: 860px;
}
.colunistas .titulo, .eventos .titulo{
  font-size: 28px;
  color: #26AC5F;
}
.lista-colunistas li{
  float: left;
  width: 195px;
  height: 64px;
  overflow: hidden;
  margin: 10px;
}
.lista-colunistas img{
  float: left;
}
.lista-colunistas .nome, .lista-colunistas .desc{
  float: right;
  width: 127px;
  font-size: 13px;
  color: #26AC5F;
}
.lista-colunistas .desc{
  font-size: 12px;
}
.lista-colunistas li:hover .nome, .lista-colunistas li:hover .desc{
  color: #007537;
  text-decoration: underline;
}
.lista-colunistas li:hover .desc{
  text-decoration: none;
}
.eventos, .lista-eventos{
  float: left;
  width: 1020px;
}
.lista-eventos{
  background-color: #27AD5F;
  padding: 10px;
}
.lista-eventos li{
  float: left;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 10px;
}
.lista-eventos li:hover .desc, .lista-classificados li:hover .desc{
  color: #007537;
}
.lista-eventos .desc, .lista-classificados .desc{
  color: #fff;
  line-height: 20px;
}
.topo-eventos, .topo-videos{
  width: inherit;
  height: 20px;
  padding: 2px 5px;
  background-color: #2DCB71;
}
.topo-eventos .data, .topo-videos .data{
  font-size: 13px;
  color: #fff;
}
.topo-eventos .quant-fotos, .topo-videos .duracao{
  font-size: 12px;
  color: #fff;
}
.lista-eventos .hora, .lista-eventos .local, 
.lista-classificados .hora, .lista-classificados .local,
.eventos-lista .hora, .eventos-lista .local{
  font-size: 10px; 
  color: #fff;
}
/*Area classificados*/
.slide-classificados{
  float: left;
  position: relative;
  margin-left: 10px;
  width: 1180px !important;
}
.slide-classificados .titulo{
  font-size: 28px;
  color: #26AC5F;
}
.lista-classificados{
  position: relative;
  float: left;
  width: 1180px;
  height: 240px;
  background-color: #27AD5F;
  padding: 10px !important;
  overflow: hidden;
}
.lista-classificados li{
  position: relative;
  float: left;
  overflow: hidden;
  width: 212px;
  height: 208px;
  margin: 10px;
}
.lista-classificados .categ{
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
}
.barra-left{
  position: absolute;
  left: 0;
  z-index: 10;
  width: 40px;
  height: 260px;
  background: url(img/barra-left.png) 0 0 repeat-y;
}
.barra-right{
  position: absolute;
  right: 0;
  z-index: 10;
  width: 40px;
  height: 260px;
  background: url(img/barra-right.png) 0 0 repeat-y;
}
.slide-classificados .anter, .slide-classificados .prox{
  position: absolute;
  top: 110px;
  left: 10px;
  z-index:11;
  width: 20px;
  height: 40px;
  cursor: pointer;
  background: url(img/anter.png) 0 0 no-repeat;
}
.slide-classificados .prox{
  left: 1150px;
  background: url(img/prox.png) 0 0 no-repeat;
}
.chamada-rotativa, .lista-rotativa{
  float: left;
  width: 444px;
  height: 250px;
}
.lista-rotativa{
  overflow: hidden;
}
/*area guia*/
.area-guia{
  width: 377px;
}
.area-guia .titulo{
  font-size: 28px;
  color: #26AC5F;
}
.area-guia .link-cadastro{
  font-size: 14px;
  color: #26AC5F;
}
.area-guia .link-cadastro:hover{
  color: #fff;
  padding: 5px 10px 5px 0;
  background-color: #26AC5F;
}
.area-guia .form-guia{
  width: 377px;
  height: 40px;
  margin-top: 10px;
}
.area-guia .form-guia input{
  float: left;
  width: 337px;
  height: 40px;
  background-color: #2DCB71;
  font-size: 14px;
  color: #007537;
  padding: 10px;
  outline: none;
}
.area-guia .form-guia input:focus{
  background-color: #3DD37C;
}
.form-guia input::-webkit-input-placeholder { color:#fff; }
.form-guia input::-moz-placeholder { color:#fff; } /* firefox 19+ */
.form-guia input:-ms-input-placeholder { color:#fff; } /* ie */
input:-moz-placeholder { color:#fff; }
.area-guia .form-guia button{
  float: right;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: #27AD5F url(img/lupa.png) 0 0 no-repeat;
}
.area-guia .form-guia button:hover{
  background-color: #3DD37C;
}
/*--
  Fim Conteúdo
--*/

/*--
  Rodapé
--*/
#rodape{
  position: absolute;
  bottom: 0;
  width: 1180px;
  height: 370px;
  background-color: #27AD5F;
  padding: 0 20px 20px 20px;
}
.logo-rodape{
  width: 114px;
  height: 97px;
  background: url(img/logo-r.png) 0 0 no-repeat;
}
.social-rodape h2{
  color: #fff;
}
.social-rodape .face{
  margin: 0 10px 5px 0;
  background: url(img/face-r.png) 0 0 no-repeat;
}
.social-rodape .face:hover{
  background: url(img/face.png) 0 0 no-repeat;
}
.social-rodape .gplus{
  margin-bottom: 5px;
  background: url(img/gplus-r.png) 0 0 no-repeat;
}
.social-rodape .gplus:hover{
  background: url(img/gplus.png) 0 0 no-repeat;
}
.social-rodape .twitter{
  margin-right: 10px;
  background: url(img/twitter-r.png) 0 0 no-repeat;
}
.social-rodape .twitter:hover{
  background: url(img/twitter.png) 0 0 no-repeat;
}
.social-rodape .youtube{
  background: url(img/youtube-r.png) 0 0 no-repeat;
}
.social-rodape .youtube:hover{
  background: url(img/youtube.png) 0 0 no-repeat;
}
.bloco-esq{
  position: absolute;
  top: 137px;
  width: 468px;
}
.copy-dev{
  width: 468px;
  height: 60px;
}
.copy-dev .copy{
  float: left;
  margin-right: 40px;
  width: 202px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
}
.copy-dev .termos{
  float: left;
  font-size: 13px;
  color: #fff;
}
.copy-dev .termos:hover{
  color: #007537;
  text-decoration: underline;
}
.dev{
  width: 96px;
}
.dev p{
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 3px;
}
.logo-dev{
  float: right;
  width: 84px;
  height: 24px;
  background: url(img/logo-dev.png) 0 0 no-repeat;
}
.logo-dev:hover{
  background: url(img/logo-dev-h.png) 0 0 no-repeat;
}
.categorias-rodape{
  width: 468px;
  margin-top: 5px;
}
.categorias-rodape h2{
  height: 16px;
  font-size: 15px;
  color: #fff;
  text-indent: 26px;
  margin-bottom: 10px;
  background: url(img/icon-categ-r.png) 0 0 no-repeat;
}
.categorias-rodape .lista-categ{
  width: 468px;
  height: 120px;
}
.categorias-rodape .lista-categ li, .categorias-rodape .lista-categ li a{
  width: 156px;
}
.categorias-rodape .lista-categ .barra{
  border: none;
}
.plugin-social{
  width: 660px;
  height: 270px;
  margin-top: -20px;
  background-color: #fff;
}
/*--
  Fim Rodapé
--*/

/*--
  Banners
--*/
.banner-1024px{
  width: 1024px;
  height: 90px;
  /*background-color: yellow;*/
}
.banner-1184px{
  width: 1184px;
  height: 90px;
  /*background-color: yellow;*/
}
.banner-728px{
  width: 751px;
  height: 90px;
}
.banner-728px .banner{
  width: 728px;
  height: 90px;
}
.banner-230px{
  width: 253px;
  height: 90px;
}
.banner-230px .banner{
  width: 230px;
  height: 90px;
}
.banner-417px{
  width: 417px;
  height: 90px;
}
.banner-417px .banner{
  width: 394px;
  height: 90px;
}
.banner-323px{
  width: 323px;
  height: 250px;
}
.banner-323px .banner{
  width: 300px;
  height: 250px;
}
.banner-223px{
  width: 223px;
}
.banner-223px .banner{
  width: 200px;
  height: 375px;
}
.banner-377px{
  width: 377px;
  height: 134px;
}
.banner-377px .banner{
  width: 357px;
  height: 134px;
}
.banner-vertical{
  width: 140px;
  height: 600px;
  /*background-color: yellow;*/
}
.banner-vertical .banner{
  width: 120px;
  height: 600px;
}
/*--
  fim Banners
--*/
/*--
  paginacao
--*/
.paginacao{
  width: 940px;
  display: inline-block;
}
.paginacao li{
  float: left;
}
.paginacao li a{
  display: inline-block;
  width: 40px;
  height: 30px;
  background-color: #fff;
  color: #26AC5F;
  padding-top: 5px;
  text-align: center;
}
.paginacao li a:hover, .paginacao .pag-prev:hover, .paginacao .pag-next:hover{
  background-color: #2DCB71;
  color: #fff;
}
.paginacao .active{
  background-color: #26AC5F;
  color: #fff;
}
.paginacao .pag-prev{
  background: #fff url(img/pag-prev.png) 0 0 no-repeat;
}
.paginacao .pag-next{
  background: #fff url(img/pag-next.png) 0 0 no-repeat;
}
/*--
  fim paginacao
--*/
/*--
  Internas
--*/
/*Eventos*/
.eventos-lista li, .videos-lista li{
  float: left;
  width: 220px;
  height: 227px;
  overflow: hidden;
  margin: 0 10px 10px 10px;
}
.videos-lista li{
  height: 233px;
}
.eventos-lista .hora, .eventos-lista .local{
  color: #26AC5F;
}
.eventos-lista .desc, .videos-lista .desc{
  line-height: 20px;
  color: #27AD5F;
  margin-top: 5px;
}
.eventos-lista li:hover .desc, .videos-lista li:hover .desc{
  color: #007537;
  text-decoration: underline;
}
.barra-info{
  width: inherit;
  background-color: #2DCB71;
  padding: 0 5px;
}
.barra-info p{
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}
.barra-info .data{
  font-size: 13px;
}
.barra-compartilhar{
  margin-top: 10px;
}
.barra-compartilhar p{
  font-size: 14px;
  color: #27AD5F;
  margin-top: 3px;
  margin-right: 10px;
}
.barra-compartilhar figure{
  float: left;
  margin: 10px 0;
}
.compartilhar .face, .compartilhar .gplus, .compartilhar .twitter{
  margin: 0 10px 0 0;
}
/*fim Eventos*/
/*Noticias*/
.secao-categ{
  position: relative;
  width: 166px;
  height: 24px;
  margin: 10px 0 0 20px;
}
.secao-categ h2{
  float: left;
  font-size: 15px;
  color: #27AD5F;
}
.secao-categ .oculto{
  top: 23px;
  width: 166px;
  height: 360px;
}
 .secao-categ .oculto li{
  width: 166px;
}
.secao-categ .oculto li a{
  width: 166px;
}
/*noticia*/
.titulo-ultimas{
  font-size: 18px;
  color: #26AC5F;
  margin-bottom: 3px;
}
.mais-imagens-noticia{
  margin-top: 20px;
}
.mais-imagens-noticia figure{
  margin-bottom: 20px;
}
.titulo-noticia-relacionada{
  font-size: 18px;
  color: #26AC5F;
}
/*fim Noticias*/
/*Video*/
.player-video{
  width: 940px;
  height: 529px;
  margin-top: 20px;
  background-color: #333;
}
/*fim Video*/
/*Contato*/
.form-contato{
  width: 580px;
}
.largura-180px{
  width: 180px;
}
.largura-380px{
  width: 380px;
}
.form-contato label{
  font-size: 14px;
  color: #26AC5F;
  cursor: pointer;
}
.form-contato input, .form-contato textarea,
.largura-180px input, .largura-380px input,
.form-procura input, .form-procura select{
  width: 580px;
  height: 40px;
  background-color: #2DCB71;
  padding: 10px;
  color: #007537;
  outline-color: #007537;
  margin: 10px 0;
}
.largura-180px input{
  width: 180px;
}
.largura-380px input{
  width: 380px;
}
.form-contato textarea{
  height: 100px;
  border: none;
  resize: none;
  overflow: auto;
}
.form-contato button{
  height: 40px;
  padding: 10px;
  background-color: #007537;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.form-contato button:hover{
  background-color: #2DCB71;
}
.form-contato .erro, .form-contato .sucesso{
  width: 384px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #B20000;
  padding-top: 13px;
}
.form-contato .sucesso{
  background-color: #2980B9;
}
.form-contato input:focus, .form-contato textarea:focus{
  background-color: #5FDC94;
}
.desc-contato{
  width: 582px;
}
.desc-contato p{
  font-size: 14px;
  line-height: 20px;
  color: #26AC5F;
}
/*fim Contato*/
/*Resultado busca*/
.filtrar-por h2{
  text-indent: 25px;
  margin-right: 20px;
  background: url(img/lupa-b.png) 0 8px no-repeat;
}
.filtrar-por .desc{
  font-size: 14px;
  color: #27AD5F;
}
.menu-filtro li{
  display: inline-block;
  margin-right: 10px;
}
.menu-filtro a{
  color: #27AD5F;
}
.menu-filtro a:hover{
  color: #007537;
}
/*fim resultado busca*/
/*Classificados*/
.categorias-classificado{
  height: 370px;
}
.categorias-classificado .mostrar{
  display: block;
  height: 320px;
  margin-top: 10px;
}
.largura-500px{
  width: 500px;
}
.form-procura label{
  font-size: 14px;
  color: #26AC5F;
}
.form-procura input{
  width: 460px;
  margin: 10px 0 0 0;
}
.form-procura input:focus{
  background-color: #5BDB92;
}
.form-procura button{
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background: #26AC5F url(img/lupa.png) 0 0 no-repeat;
}
.form-procura button:hover{
  background-color: #2DCB71;
}
.largura-select{
   width: 500px;
   height: 40px;
   overflow: hidden;
   margin-top: 10px;
   background: url(img/arrow-bottom.png) center right 0 no-repeat;
   background-color: #2DCB71;
}
.largura-select:hover{
  background-color: #5BDB92;
}
.form-procura select{
  margin-top: -1px;
  background: transparent;
  width: 500px;
  height: 40px;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.pub-dinamica, .pub-dinamica ul{
  position: relative;
  width: 860px;
  height: 280px;
  overflow: hidden;
  background-color: #eee;
}
.pager{
  position: absolute;
  z-index: 100;
  bottom: 0;
  background-color: #27AD5F;
  left: 45%;
}
.pager a{
  float: left;
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #2DCB71;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.pager a:hover{
  background-color: #007537;
}
.pager a.activeSlide{
  background-color: #fff;
}
.pub-dinamica .seta-prev, .pub-dinamica .seta-next{
  position: absolute;
  width: 20px;
  height: 40px;
  z-index: 100;
  top: 45%;
}
.pub-dinamica .seta-prev{
  left: 10px;
  background: url(img/anter.png) 0 0 no-repeat;
}
.pub-dinamica .seta-next{
  right: 10px;
  background: url(img/prox.png) 0 0 no-repeat;
}
.pub-dinamica .b-left, .pub-dinamica .b-right{
  position: absolute;
  z-index: 99;
  width: 40px;
  height: 280px;
}
.pub-dinamica .b-left{
  background: url(img/barra-left.png) 0 0 repeat-y;
}
.pub-dinamica .b-right{
  right: 0;
  background: url(img/barra-right.png) 0 0 repeat-y;
}
.largura-140px{
  width: 140px;
}
.exibir{
  color: #2CCB71;
}
.exibir span{
  color: #26AC5F;
  font-size: 18px;
}
.entrar, .cadastrar{
  position: relative;
  float: left;
  width: 140px;
  height: 40px;
  padding: 10px;
  background-color: #27AD5F;
  color: #fff;
  
}
.entrar:hover, .cadastrar:hover{
  background-color: #2DCB71;
}
.link{
  float: left;
  color: #26AC5F;
  margin: 5px 0;
}
.link:hover{
  color: #007537;
}
.produto, .guia{
  position: relative;
  width: 580px;
  background-color: #EEE;
}
.produto .envolve{
  position: relative;
  width: 218px;
  height: 160px;
}
.produto .categ{
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
}
.produto .desc{
  font-size: 18px;
  line-height: 20px;
  margin: 17px 0 10px 0;
  width: 344px;
}
.produto .recuo{
  width: 280px;
}
.produto .recuo p{
  font-size: 12px;
}
.produto:hover, .produto:hover .desc, .produto:hover .recuo{
  background-color: #27AD5F;
  color: #007537 !important;
}
.produto .desc:hover{
  text-decoration: underline;
}
/*Classificado*/
.classificado-detalhe{
  width: 860px;
}
.class-detalhe{
  position: relative;
  width: inherit;
  background-color: #eee;
}
.class-detalhe .recuo{
  position: relative;
  float: left;
  width: 218px;
  height: 160px;
}
.class-detalhe .categ{
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
}
.class-detalhe .recuo2{
  float: left;
  width: 642px;
  padding: 20px;
}
.class-detalhe .desc{
  font-size: 18px;
  color: #7F8B8C;
  margin-bottom: 20px;
}
.class-detalhe .esq{
 width: 260px;
}
.class-detalhe .dir{
 width: 330px;
}
.class-detalhe .fone, .class-detalhe .email, .class-detalhe .valor,
.class-detalhe .publi, .class-detalhe .local, .class-detalhe .visualizacao{
  font-size: 14px;
  line-height: 20px;
  color: #7F8B8C;
}
.class-detalhe .publi, .class-detalhe .local, .class-detalhe .visualizacao{
  font-size: 12px;
}
.lista-img-classificado li{
  float: left;
  width: 420px;
  height: 236px;
  margin-bottom: 20px;
}
.classificado-detalhe .mapa{
  width: inherit;
  padding: 20px;
  background-color: #eee;
}
.classificado-detalhe .mapa h2, .classificado-detalhe .mapa p{
  font-size: 18px;
  color: #7F8B8C;
}
.classificado-detalhe .mapa p{
  font-size: 16px;
  line-height: 20px;
}
.classificado-detalhe .local-mapa{
  width: 820px;
  height: 350px;
  margin: 20px 0;
  background-color: #CECECE;
}
/*fim Classificados*/
/*Guia Comercial*/
.cadastrar-guia{
  width: 860px;
  margin-top: 5px;
  margin-left: 20px;
}
.cadastrar-guia a{
  float: left;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #2DCB71;
}
.cadastrar-guia a:hover{
  background-color: #27AD5F;
}
.atual, .desc-cadastro{
  margin-top: 40px;
  font-size: 14px;
  color: #26AC5F;
}
.atual span{
  font-size: 18px;
}
.guia .recuo{
  width: 324px;
  margin-right: 20px;
}
.guia .recuo .desc, .guia .recuo p{
  font-size: 18px;
  line-height: 20px;
  color: #26AC5F;
}
.guia .recuo .desc{
  margin: 15px 0 10px 0;
}
.guia .recuo p{
  font-size: 14px;
}
/*Cadastro guia*/
.desc-cadastro{
  font-size: 16px;
  margin-top: 10px;
}
.form-guia-cadastro label, .form-anuncio label{
  font-size: 14px;
  color: #26AC5F;
}
.form-guia-cadastro input , .form-entrar input,
.form-classificado-cadastro input, .form-anuncio input,
.form-anuncio textarea{
  height: 40px;
  background-color: #2DCB71;
  padding: 10px;
  color: #007537;
  outline-color: #007537;
  margin: 10px 0;
}
.form-guia-cadastro input:focus, .form-entrar input:focus,
.form-classificado-cadastro input:focus, .form-anuncio input:focus.
.form-anuncio textarea:focus{
  background-color: #64DD97;
}
.form-guia-cadastro button{
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #007537;
}
.form-guia-cadastro button:hover{
  background-color: #2DCB71;
}
.form-guia-cadastro .erro, .form-guia-cadastro .sucesso{
  width: 954px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #B20000;
}
.form-guia-cadastro .sucesso{
  background-color: #2980B9;
}
.largura-580px{
  width: 580px;
}
.largura-420px{
  width: 420px;
}
.largura-60px{
  width: 60px;
}
.largura-160px{
  width: 160px;
}
.largura-150px{
  width: 150px;
}
.largura-113px{
  width: 113px;
}
.largura-134px{
  width: 134px;
}
.largura-293px{
  width: 293px;
}
.largura-280px{
  width: 280px;
}
/*fim Guia Comercial*/

/*Classificado entrar*/
.form-entrar{
  width: 260px;
  padding: 20px;
  background-color: #27AD5F;
}
.form-entrar label, .form-classificado-cadastro label{
  font-size: 14px;
  color: #fff;
}
.link-lembrar-senha{
  font-size: 12px;
  color: #fff;
  display: block;
  margin-left: 47px;
  margin-bottom: 10px;
}
.link-lembrar-senha:hover{
 color: #007537;
}
.form-entrar .erro, .form-entrar .sucesso{
  float: left;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background-color: #B20000;
}
.form-entrar .sucesso{
  background-color: #2980B9;
}
.form-entrar button{
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #007537;
  padding: 10px 0;
  margin-top: 10px;
}
.form-entrar button:hover{
  background-color: #2DCB71;
}
/*Classificado cadastrar*/
.largura-480px{
  width: 480px;
}
.largura-440px{
  width: 440px;
}
.largura-210px{
  width: 210px;
}
.largura-153px{
  width: 153px;
}
.largura-360px{
  width: 360px;
}
.largura-40px{
  width: 40px;
}
.largura-124px{
  width: 124px;
}
.largura-108px{
  width: 108px;
}
.largura-340px{
  width: 340px;
}
.largura-213px{
  width: 213px;
}
.form-classificado-cadastro{
  padding: 20px;
  float: left;
  background-color: #27AD5F;
}
.form-classificado-cadastro button{
  font-size: 18px;
  color: #fff;
  background-color: #007537;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.form-classificado-cadastro button:hover{
  background-color: #2DCB71;
}
.form-classificado-cadastro .erro, .form-classificado-cadastro .sucesso{
  float: right;
  width: 214px;
  background-color: #B20000;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.form-classificado-cadastro .sucesso{
  background-color: #2980B9;
}
/*Classificado anunciar*/
.form-anuncio .altura146px{
  height: 146px;
}
.form-anuncio .altura100px{
  height: 100px;
}
.form-anuncio .area{
  background-color: #2DCB71;
  margin-top: 10px;
}
.form-anuncio input[type=checkbox] {
  visibility: hidden;
}
.form-anuncio .estilo-label{
  font-size: 14px;
  color: #27AD5F;
  margin-left: 10px;
}
.checkbox {
  float: left;
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

/**
 * Create the checkbox button
 */
.checkbox label {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  background: #333;

  -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

/**
 * Create the checked state
 */
.checkbox input[type=checkbox]:checked + label {
  background: #26ca28;
}
.form-anuncio textarea{
  resize: none;
  border: none;
  overflow: auto;
}
.form-anuncio button{
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #007537;
}
.form-anuncio button:hover{
 background-color:#2DCB71 
}
.form-anuncio .erro, .form-anuncio .sucesso{
  float: right;
  width: 274px;
  background-color: #B20000;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.form-anuncio .sucesso{
  background-color: #2980B9;
}
.bloco-usuario{
  width: 140px;
  background-color: #2DCB71;
}
.bloco-usuario .boas-vindas{
  font-size: 18px;
  color: #fff;
  padding: 10px;
}
.bloco-usuario .usuario{
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  padding-left: 10px;
}
.bloco-usuario .logout{
  font-size: 10px;
  color: #007337;
  padding-left: 10px;
}
.bloco-usuario .estilo-link{
  display: block;
  width: 140px;
  font-size: 14px;
  color: #fff;
  background-color: #2DCB71;
  padding: 10px;
}
.bloco-usuario .estilo-link:hover{
  color: #007537;
  background-color: #27AD5F;
}
/*excluir conta*/
.form-excluir-conta{
  width: 260px;
  padding: 20px;
  background-color: #27AD5F;
}
.form-excluir-conta p{
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}
.form-excluir-conta button{
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #007537;
}
.form-excluir-conta button:hover{
  background-color: #2DCB71;
}

/*-------*/
.bloco-help{
  width: 800px;
  background-color: #27AD5F;
  padding: 20px;
}
.bloco-help .desc{
  background-color: #fff;
  padding: 20px;
  font-size: 14px;
  color: #27AD5F;
}