@model List<Eva.Dominio.Categoria>
<ul class="main-menu-sub">
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = item.Slug})" title="@item.Nome">@item.Nome</a></li>
    }
</ul>