<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site/web/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Site/web/images/fav-icon.png" />

    <script type="text/javascript">
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false);

        function hideURLbar() { window.scrollTo(0, 1); }
    </script>

    <script src="~/Content/Site/web/js/jquery.min.js"></script>

    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel="stylesheet" type="text/css">
    <!----//webfonts---->
    <!-- Global CSS for the page and tiles -->
    <link rel="stylesheet" href="~/Content/Site/web/css/main.css">
    <!-- //Global CSS for the page and tiles -->
    <!---start-click-drop-down-menu----->
    <!----start-dropdown--->
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(function () {
            $('#activator').click(function () {
                $('#box').animate({ 'top': '0px' }, 500);
            });
            $('#boxclose').click(function () {
                $('#box').animate({ 'top': '-700px' }, 500);
            });
        });
        $(document).ready(function () {
            //Hide (Collapse) the toggle containers on load
            $(".toggle_container").hide();
            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
            $(".trigger").click(function () {
                $(this).toggleClass("active").next().slideToggle("slow");
                return false; //Prevent the browser jump to the link anchor
            });

        });
    </script>
    <!----//End-dropdown--->
    <!---//End-click-drop-down-menu----->
</head>
<body>
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="wrap">
            <div class="logo">
                <a href="@Url.Action("Index","Home", new{area=""})">
                    <img src="~/Content/Site/web/images/logo.png" title="pinbal" alt="" />
                </a>
            </div>
            <div class="nav-icon">
                <a href="#" class="right_bt" id="activator"><span> </span> </a>
            </div>
            <div class="box" id="box">
                <div class="box_content">
                    <div class="box_content_center">
                        <div class="form_content">
                            <div class="menu_box_list">
                                <ul>
                                    <li><a href="#"><span>home</span></a></li>
                                    <li><a href="#"><span>About</span></a></li>
                                    <li><a href="#"><span>Works</span></a></li>
                                    <li><a href="#"><span>Clients</span></a></li>
                                    <li><a href="#"><span>Blog</span></a></li>
                                    <li><a href="#"><span>Contact</span></a></li>
                                    <li class="clear"> </li>
                                </ul>
                            </div>
                            <a class="boxclose" id="boxclose"> <span> </span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-searchbar">
                <form>
                    <input type="text" /><input type="submit" value="" />
                </form>
            </div>
            <div class="userinfo">
                <div class="user">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/Content/Site/web/images/user-pic.png" title="user-name" alt="" /><span>Ipsum</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!---//End-header---->
    <!---start-content---->
    <div class="content">
        <div class="wrap">

            @RenderBody()

        </div>
    </div>
    <!---//End-content---->
    <!----start-footer--->
    <div class="footer">
        <p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <!----//End-footer--->
    <!---//End-wrap---->
</body>
</html>