<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img1.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img2.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<section class="left mgn-top-20px">

    <h2 class="titulo-28px left mgn-left-10px fui-menu">NOTÍCIAS</h2>
    <div class="secao-categ mgn-left-10px left">
        <h2>Categorias</h2>
        <ul class="oculto">
            <li>
                <a href="#" title="Cultura">
                    <span class="barra" style="background-color:#159F85"></span>
                    Cultura
                </a>
            </li>
            <li>
                <a href="#" title="Esportes">
                    <span class="barra" style="background-color:#2DB200"></span>
                    Esportes
                </a>
            </li>
            <li>
                <a href="#" title="Geral">
                    <span class="barra" style="background-color:#95A5A5"></span>
                    Geral
                </a>
            </li>
            <li>
                <a href="#" title="Mundo">
                    <span class="barra" style="background-color:#0080FF"></span>
                    Mundo
                </a>
            </li>
            <li>
                <a href="#" title="Polícia">
                    <span class="barra" style="background-color:#2B3D4F"></span>
                    Polícia
                </a>
            </li>
            <li>
                <a href="#" title="Política">
                    <span class="barra" style="background-color:#F39B11"></span>
                    Política
                </a>
            </li>
            <li>
                <a href="#" title="Saúde">
                    <span class="barra" style="background-color:#BF392B"></span>
                    Saúde
                </a>
            </li>
            <li>
                <a href="#" title="Social">
                    <span class="barra" style="background-color:#D35300"></span>
                    Social
                </a>
            </li>
            <li>
                <a href="#" title="Tecnologia">
                    <span class="barra" style="background-color:#8D43AD"></span>
                    Tecnologia
                </a>
            </li>
        </ul>
    </div>
    <div class="bloco-largura left mgn-top-20px">
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:#2DB200;">CRAS TEMPOR ULTRICIES URNA</h2>
            <a href="noticias.html" title="Esportes">
                <h3 class="categoria" style="color:#2DB200;">Esportes</h3>
            </a>
            <p class="hora left fui-time" style="color:#2DB200;">00h00</p>
            <p class="local right fui-location" style="color:#2DB200;">Ji-Paraná, RO</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="" title="título da notícia">
                    <figure class="left mgn-right-10px">
                        <img class="left" src="img/noticia/150x85px/img4.jpg" alt="" width="150" height="85">
                    </figure>
                </a>
                <a href="noticia.html" title="título da notícia">
                    <p class="desc desc-14px" style="color:#2DB200;">Suspendisse ultrices ipsum non nisi. Proin nec odio. Quisque orci neque, pellentesque</p>
                </a>
            </div>
        </section>
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:#2B3D4E;">SUSPENDISSE VENENATIS ALIQUET</h2>
            <a href="noticias.html" title="Polícia">
                <h3 class="categoria" style="color:#2B3D4E;">Polícia</h3>
            </a>
            <p class="hora left fui-time" style="color:#2B3D4E;">00h00</p>
            <p class="local right fui-location" style="color:#2B3D4E;">P. de Rondônia, RO</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="" title="título da notícia">
                    <figure class="left mgn-right-10px">
                        <img class="left" src="img/noticia/150x85px/img2.jpg" alt="" width="150" height="85">
                    </figure>
                </a>
                <a href="noticia.html" title="título da notícia">
                    <p class="desc desc-14px" style="color:#2B3D4E;">Duis vel tellus vitae ante tincidunt tincidunt. Pellentesque eget dolor vitae nisl varius</p>
                </a>
            </div>
        </section>
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:#F39B11;">IN ERAT</h2>
            <a href="noticias.html" title="Políticas">
                <h3 class="categoria" style="color:#F39B11;">;Políticas</h3>
            </a>
            <p class="hora left fui-time" style="color:#F39B11;">00h00</p>
            <p class="local right fui-location" style="color:#F39B11;">Nova Brasilândia, RO</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="" title="título da notícia">
                    <figure class="left mgn-right-10px">
                        <img class="left" src="img/noticia/150x85px/img3.jpg" alt="" width="150" height="85">
                    </figure>
                </a>
                <a href="noticia.html" title="título da notícia">
                    <p class="desc desc-14px" style="color:#F39B11;">Morbi elementum, elit facilisis commodo dictum, magna erat aliquet quam, non molestie</p>
                </a>
            </div>
        </section>
    </div>
    <div class="bloco-largura left mgn-top-20px">
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:#00668C;">FUSCE SED</h2>
            <a href="noticias.html" title="Brasil e mundo">
                <h3 class="categoria" style="color:#00668C;">Brasil e mundo</h3>
            </a>
            <p class="hora left fui-time" style="color:#00668C;">00h00</p>
            <p class="local right fui-location" style="color:#00668C;">Machadinho, RO</p>
            <a href="noticia.html" title="título da notícia">
                <p class="desc left mgn-top-5px" style="color:#00668C;">Donec suscipit est eu nulla. Ut semper mattis elit. Vestibulum ante ipsum</p>
            </a>
        </section>
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:#00668C;">FUSCE MATTIS</h2>
            <a href="noticias.html" title="Brasil e mundo">
                <h3 class="categoria" style="color:#00668C;">Brasil e mundo</h3>
            </a>
            <p class="hora left fui-time" style="color:#00668C;">00h00</p>
            <p class="local right fui-location" style="color:#00668C;">Nova Mamoré, RO</p>
            <a href="noticia.html" title="título da notícia">
                <p class="desc left mgn-top-5px" style="color:#00668C;">Maecenas vehicula magna quis pede. Nam elit risus, sodales quis, pulvinar et, consequat et</p>
            </a>
        </section>
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:#00668C;">FUSCE MATTIS</h2>
            <a href="noticias.html" title="Brasil e mundo">
                <h3 class="categoria" style="color:#00668C;">Brasil e mundo</h3>
            </a>
            <p class="hora left fui-time" style="color:#00668C;">00h00</p>
            <p class="local right fui-location" style="color:#00668C;">Nova Mamoré, RO</p>
            <a href="noticia.html" title="título da notícia">
                <p class="desc left mgn-top-5px" style="color:#00668C;">Maecenas vehicula magna quis pede. Nam elit risus, sodales quis, pulvinar et, consequat et</p>
            </a>
        </section>
    </div>
</section>
<div class="paginacao mgn-top-20px">
    <ul>
        <li><a class="pag-prev rpl" href="#" title="Anterior">&laquo;</a></li>
        <li><a class="active" href="#" title="">1</a></li>
        <li><a href="#" title="">2</a></li>
        <li><a href="#" title="">3</a></li>
        <li><a href="#" title="">4</a></li>
        <li><a href="#" title="">5</a></li>
        <li><a href="#" title="">6</a></li>
        <li><a href="#" title="">7</a></li>
        <li><a href="#" title="">8</a></li>
        <li><a href="#" title="">9</a></li>
        <li><a href="#" title="">10</a></li>
        <li><a class="pag-next rpl" href="#" title="Próximo">&raquo;</a></li>
    </ul>
</div>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img4.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img3.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>